---
import "the-new-css-reset/css/reset.css";
import "@fontsource/roboto/400-italic.css";
import "@fontsource/roboto/500-italic.css";
import "@fontsource/roboto/700-italic.css";
import "@fontsource/roboto/900-italic.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import "@fontsource/roboto/900.css";
import "../styles/main.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
const { title } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.url);
const socialImageURL = new URL("/og-img.png", Astro.url);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <meta name="description" content="Info about Apex Legends" />
        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <link rel="canonical" href={canonicalURL} />
        <meta property="og:image" content={socialImageURL} />
        <meta property="og:description" content="Info about Apex Legends" />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
